<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gridlex/2.2.5/gridlex.min.css">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Lobster|Pacifico|Press+Start+2P" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Amatica+SC|Josefin+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nova+Mono|Oxygen|Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

  <header class="top-banner">
    <div class="grid-middle-spaceBetween">
      <div class="col-6_xs-12">
        <img class="logo" src="images/glitterlips.png" alt="just a kiss logo">
      </div>
      <nav class="col-6_xs-12 right">
          <a href="">Believe</a>
          <a href="">Success</a>
          <a href="">About Us</a>
      </nav>

</header>


{{content}}

<!--  FOUR PART GRID FOR FOOTER -->
<footer>
  <h2>More About Us</h2>
  <div class="grid-middle">
    <!-- 1/3 LOGO -->
    <div class="col-4">
      <img class="logo" src="images/glitterlips.png" alt="just a kiss logo">
    </div>
    <!-- 2/3 LOCATION WITH MAP -->
    <div class="col-4">
      <h3>Location</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d172133.42645405466!2d-122.47599120196763!3d47.61476278101678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490102c93e83355%3A0x102565466944d59a!2sSeattle%2C+WA%2C+USA!5e0!3m2!1sen!2sid!4v1491119274271" width="150" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- 3/3 CLICKABLE LINKS -->
    <div class="col-4_last">
      <div><a href="https://www.aspca.org/adopt-pet" target="_blank">Local Shelters</a></div><br>
      <div><a href="" target="_blank">Meet the Team</a></div><br>
      <div><a href="https://www.aspca.org/adopt-pet" target="_blank">Petfinder</a></div><br>
    </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="js/winnyscoffee.js"></script>


</body>
</html>
